/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--chalk-white);
  padding: 5px 20px;
  height: 9vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.navbar .logo {
  width: 2.6em;
}

.navbar h1 {
  margin: 0;
  padding: 5px;
  font-weight: 1200;
  font-size: 2.05em;
  color: #fff;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
}

.menu a:hover {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.navbar li {
  margin: 0 20px;
  padding: 2px;
}

.btn-register {
  font: 1rem;
  padding: 0.3rem 1rem;
  background-color: tomato;
  border-radius: 50rem;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.burger-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  top: 3.5px;
  right: 10px;
  z-index: 10;
}
