:root {
  --color-primary: #E1EEBC;
  --color-neutral: #90C67C;
  --color-secondary: #67AE6E;
  --color-text-dark2: #328E6E;
  --color-text-dark: #00806C;
  --color-blur: rgba(45, 45, 45, 0.8);
  --montserrat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--poppins);
  /* border: 1px dashed magenta; */
}

body {
  background-color: var(--color-primary);
  color: var(--color-neutral);
  background-image: url(../img/market.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.hero {
  padding: 0 24px;
  padding-top: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text-dark);
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.hero h1 {
  font-size: min(3rem, 6vw);
  text-align: center;
  color: var(--color-text-dark);
  margin: 5vh 0 0 0;
}

footer {
  color: var(--color-text-dark);
  text-align: center;
  margin: 0;
  padding: 5px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

footer a {
  font-weight: 600;
  color: var(--color-text-dark2);
}



/* Responsive Menu */
@media (max-width: 600px) {
  .hero h1 {
    margin: 1rem;
    font-size: 2.5rem;
  }

  .popover-dialog {
    width: 100vw;
  }

  .navbar {
    height: auto;
    flex-direction: column;
  }

  .navbar.menu-active {
    background-color: rgba(45, 45, 45, 0.8);
    transition: background-color 0.3s ease;
  }

  .burger-toggle {
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(0.9);
  }

  .burger-toggle.active + .menu {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .menu.active {
    display: flex;
  }

  .menu li {
    margin: 10px 0;
    padding: 5px 0;
  }
}
