:root {
  --color-primary: #4BA3C7;      /* Sky Blue - main branding, buttons */
  --color-secondary: #FFD93D;    /* Lemon Yellow - accents, highlights */
  --color-neutral: #F4F4F4;      /* Cool Gray - backgrounds, cards */
  --color-text-dark: #333333;    /* Charcoal - text and headings */
  --color-blur: rgba(45, 45, 45, 0.8);
  --montserrat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--poppins);
  border: 1px dashed magenta;
}

body {
  background-image: url(../img/market.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.hero {
  padding-top: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-neutral);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.hero h1 {
  font-size: min(3rem, 6vw);
  text-align: center;
  color: #ffffff;
  margin: 5vh 0 0 0;
}

footer {
  color: white;
  text-align: center;
  margin: 0;
  padding: 5px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

/* Responsive Menu */
@media (max-width: 600px) {
  body {
    background-attachment: scroll;
  }

  .hero h1 {
    margin: 1rem;
    font-size: 2.5rem;
  }

  .navbar {
    height: auto;
    flex-direction: column;
  }

  .navbar.menu-active {
    background-color: rgba(45, 45, 45, 0.8);
    transition: background-color 0.3s ease;
  }

  .burger-toggle {
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(0.9);
  }

  .burger-toggle.active + .menu {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .menu.active {
    display: flex;
  }

  .menu li {
    margin: 10px 0;
    padding: 5px 0;
  }
}
