:root {
  --fg-color: #ffffff;
  --bg-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px dashed magenta;
}

body {
  background-image: url(../img/market.jpg);
  background-size: cover;
  background-position: center;
}

.hero {
  padding-top: 8vh;
  display: flex;
  justify-content: end;
}

.head-text {
  text-align: right;
  margin: 20vh 2vw 10vh 2vw;
  background-color: rgba(45, 45, 45, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  width: 60%;
  border-radius: 20px;
}

.head-text h1 {
  font-size: min(3rem, 6vw);
  color: #ffffff;
  margin: 2rem;
  padding: 1rem;
}

footer {
  color: white;
  text-align: center;
  margin: 0;
  padding: 5px;
}

/* Responsive Menu */
@media (max-width: 600px) {
  body {
    background-attachment: scroll;
  }

  .navbar {
    height: auto;
    flex-direction: column;
  }

  .navbar.menu-active {
    background-color: rgba(45, 45, 45, 0.8);
    transition: background-color 0.3s ease;
  }

  .burger-toggle {
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(0.9);
  }

  .burger-toggle.active + .menu {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .menu.active {
    display: flex;
  }

  .menu li {
    margin: 10px 0;
    padding: 5px 0;
  }
}
