:root {
  --color-primary: #e1eebc;
  --color-neutral: #90c67c;
  --color-secondary: #67ae6e;
  --color-text-dark2: #328e6e;
  --color-text-dark: #004C3F;
  --color-blur: rgba(45, 45, 45, 0.15);
  --montserrat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
}

.table-container {
  padding: 24px;
  display: flex;
  justify-content: center;
}

table {
  background-color: var(--color-primary);
  border-collapse: collapse;
  width: clamp(768px, 50vw, 90%);
  margin: 16px 0;
  font-size: 0.9rem;
  box-shadow: 2px 2px 8px var(--color-blur);
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

thead {
  background-color: var(--color-text-dark2);
  color: var(--color-primary);
}

thead th {
  padding: 8px 12px;
  font-size: 0.95rem;
}

th,
td {
  text-align: left;
  padding: 12px 16px;
}

td {
  color: var(--color-text-dark2);
}

tbody tr {
  border-bottom: 2px solid var(--color-secondary);
  transition: 0.3s ease;
}

tbody tr:nth-child(even) {
  background-color: #cfdbae;
}

tbody tr.poor {
  background-color: #ff7f7f;
  font-weight: 500;
  td {
    color: var(--color-primary);
  }
}

tbody tr:hover {
  transform: scale(1.01);
}

@media (max-width: 768px) {
  table {
    border: 0;
    background-color: transparent;
    box-shadow: none;
  }

  th,
  td {
    border: 2px solid #ddd;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid var(--color-text-dark);
    display: block;
    margin-bottom: 24px;
    background-color: var(--color-primary);
  }

  table td {
    border-bottom: 1px solid var(--color-text-dark);
    display: block;
    font-size: 1em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: 800;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  tbody tr:nth-child(even) {
    background-color: var(--color-text-dark2);
    td {
      color: var(--color-primary);
    }
  }

  tbody tr.poor {
    background-color: #ff7f7f; /* Light Tomato */
  }
}
