:root {
  --color-primary: #E1EEBC;
  --color-neutral: #90C67C;
  --color-secondary: #67AE6E;
  --color-text-dark2: #328E6E;
  --color-text-dark: #00806C;
  --color-blur: rgba(45, 45, 45, 0.8);
  --montserrat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
}

.table-container {
  padding: 24px;
}

table {
  background-color: var(--color-primary);
  border-collapse: collapse;
  /* border-radius: 20px; */
  width: 100%;
}

thead {
  background-color: var(--color-text-dark2);
}

th, td {
  border: 2px solid var(--color-text-dark2);
  text-align: center;
}

th {
  height: 3em;
}

td {
  color: var(--color-text-dark2);
}

input[type="checkbox"]:disabled {
  accent-color: var(--color-text-dark);
}

.poor {
    background-color: tomato;
    font-weight: bold;
}